body {
    margin: 0;
    padding: 0;
    height: 125vw;
}

.homepict {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    height: auto;
  }

.animepict {
    position: absolute;
    z-index: 0;
    width: 46%;
    overflow: hidden;
    height: auto;
    position: absolute; left: 50%;
    
  }



.logo-container {
    position: relative;
}

.logo-image {
    width: 100%;
    transition: transform 0.3s, filter 0.3s;
}

.tzlogo {
  position: fixed; /* Change to fixed position */
  width: 4.5%;
  top: -2px; /* Adjust the top position */
  left: 93%;
  overflow: hidden;
  height: auto;
  transform: rotate(369deg);
  z-index: 99998;
}

.logo-container {
  position: relative;
}

.logo-image {
  width: 100%;
  transition: transform 0.3s, filter 0.3s;
}

.logotext {
  position: absolute;
  font-size: 0.8vw;
  display: none;
  bottom: 1.5vw; /* Adjust as needed */
  left: 0%;
  transform: rotate(-7deg);
  text-align: center;
  background: #ff9b05;
  color: #ffffff;
  font-family: 'Lexend', sans-serif; 
  padding: 2px;
  border-radius: 5px;
  transition: transform 0.3s, opacity 0.3s;
}

/* No change for hover styles */

.logo-container:hover .logo-image {
  transform: scale(1.2);
  transform: rotate(60deg);
  filter: brightness(90%);
}

.logo-container:hover .logotext {
  display: block;
  opacity: 1;
}

.ravmot
{
    color: #cb7a00;
    position: absolute; 
    left: 80%; 
    top: 2.3%;
    z-index: 1;
    letter-spacing: 2px;
    z-index: 99999;
    font-family: 'Lexend', sans-serif; 
    font-weight: 300; 
    padding: 0.3vw;
    height: auto;
    background-color: #ffffff;
    border-radius: 10%;
}

.pnwth
{
    color: #fca430;
    position: absolute; 
    left: 7%; 
    top: 77%;
    z-index: 1;
    letter-spacing: 2px;
    font-family: 'Lexend', sans-serif; 
    font-weight: 100; 
}

.partone
{
  color: rgb(255, 255, 255);
  position: absolute; 
  left: 9%; 
  top: 83.5%;
  z-index: 1;
  letter-spacing: 2px;
  font-family: 'Lexend', sans-serif; 
  font-weight: 100; 
}

.parttwo
{
  color: white;
  position: absolute; 
  left: 34%; 
  top: 83.5%;
  z-index: 1;
  letter-spacing: 2px;
  font-family: 'Lexend', sans-serif; 
  font-weight: 100; 
}
.partthree
{
  color: white;
  position: absolute; 
  left: 59%; 
  top: 83.5%;
  z-index: 1;
  letter-spacing: 2px;
  font-family: 'Lexend', sans-serif; 
  font-weight: 100; 
}

/* navbar button *//* navbar button *//* navbar button */
.vmbut {
    top: 52%;
    left: 20%;
    padding: 1.3% 2.3%;
    border-radius: 1vw;
    position: absolute;
    background-color: #f7f7f7;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
    border: none;
}

.circle1 {
    position: absolute;
    border-radius: 50%;
    padding: 0.5% 1.2%;
    border: 1px solid rgb(240, 240, 240);
    color: #fff;
    top: 82%;
    left: 5%;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-weight: 200;
    opacity: 50%;
  }

  .circle2 {
    position: absolute;
    border-radius: 50%;
    padding: 0.5% 1.1%;
    border: 1px solid rgb(240, 240, 240);
    color: #fff;
    top: 82%;
    left: 30%;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-weight: 200;
    opacity: 50%;
  }

  .circle3 {
    position: absolute;
    border-radius: 50%;
    padding: 0.5% 1.1%;
    border: 1px solid rgb(240, 240, 240);
    color: #fff;
    top: 82%;
    left: 55%;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-weight: 200;
    opacity: 50%;
  }

  .vmbut:hover {
    background-color: #ff9b05;
    color: white;
  }

  .logos
  {
  position: fixed; /* Change to fixed position */
  width: 5%;
  top: -7px; /* Adjust the top position */
  left: 93%;
  overflow: hidden;
  height: auto;
  z-index: 99998;
  }
/* navbar button *//* navbar button *//* navbar button */


.texthl
{
    color: rgb(255, 255, 255);
    position: absolute; left: 7%; top: 30%;
    z-index: 1;
    font-family: 'Lexend', sans-serif; 
    font-weight: 700; 
    letter-spacing: 3px;
    width: 55%;

}

.scrl
{
    color: white;
    position: absolute; 
    left: 94%; 
    top: 60%;
    z-index: 1;
    letter-spacing: 2px;
    font-family: 'Lexend', sans-serif; 
    font-weight: 100; 
    transform: rotate(90deg);
}


.line1 {
    border-left: 2px solid rgb(255, 255, 255);
    position: absolute;
    height: 35%;
    z-index: 1;
    left: 94%;
    top: 67%;
    opacity: 40%;
  }
  .line2 {
    border-left: 2px solid rgb(255, 255, 255);
    position: absolute;
    height: 35%;
    z-index: 1;
    left: 95.5%;
    top: 67%;
    opacity: 40%;
  }
  .line3 {
    border-left: 2px solid rgb(255, 255, 255);
    position: absolute;
    height: 35%;
    z-index: 1;
    left: 97%;
    top: 67%;
    opacity: 40%;
  }
  .across {
    position: absolute;
    top: 59vw;
    left: 5%;
    width: 80vw;
    color: 0E0E0E;
    font-family: 'Lexend', sans-serif; 
    font-weight: 400;
    z-index: 1;
  
}
.what {
  position: absolute;
  top: 70vw;
  left: 5%;
  width: 65vw;
  font-weight: 300;
  color: #1a1a1a;
  text-align: justify;
  font-family: 'Lexend', sans-serif; 
  z-index: 1;

}
.percent {
  position: absolute;
  top: 63vw;
  left: 75%;
  width: 20vw;
}
.our {
  position: absolute;
  top: 81vw;
  left: 6%;
  width: 80vw;
  color: #CB7A00;
  z-index: 1;
}


.boxC {
  top: 86vw;
  left: 43vw;
  padding: 1.3% 2.3%;
  border-radius: 1vw;
  position: absolute;
  color: #fff;
  background-color: rgb(235, 175, 10);
  cursor: pointer;
  font-family: 'Lexend', sans-serif;
  border: none;
  text-decoration:none;
}
.boxC:hover {
  background-color: #ff9b05;
  color: white;
}
.boxG {
  top: 95vw;
  left: 0vw;
  width: 94.2vw;
  height: 5vw;
  padding: 1.3% 2.3%;
  position: absolute;
  background-color: #E8E8E8 ;
}
.boxD {
  top: 3.5vw;
  left: 0vw;
  width: 98.72vw;
  height: 0.9vw;
  position: absolute;
  background-color: #D9D9D9 ;
}
.tool3 {
  position: absolute;
  z-index: 2;
  top: 97vw;
  left: 48vw;
  width: 2.5vw;
}
.tool2 {
  position: absolute;
  z-index: 2;
  top: 97vw;
  left: 38vw;
  width: 3.5vw;
}
.tool1 {
  position: absolute;
  z-index: 2;
  top: 97vw;
  left: 28vw;
  width: 2.5vw;
}
.tool4 {
  position: absolute;
  z-index: 2;
  top: 97vw;
  left: 58vw;
  width: 3.5vw;
}
.tool5 {
  position: absolute;
  z-index: 2;
  top: 97vw;
  left: 68vw;
  width: 2.5vw;
}
.logoD {
  position: absolute;
  z-index: 2;
  top: 107vw;
  left: 5vw;
  width: 1.5vw;
}
.logotd
{
    color: #0E0E0E;
    position: absolute; 
    left: 7vw; 
    top: 9vw;
    z-index: 1;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: 'Lexend', sans-serif; 
}
.req {
  position: absolute;
  top: 12vw;
  left: 7vw;
  width: 24vw;
  color: #000000;
  z-index: 1;
}
.social {
  position: absolute;
  top: 9vw;
  left: 38vw;
  width: 8vw;
  color: #838383;
  z-index: 1;
}
.Contact {
  position: absolute;
  top: 9vw;
  left: 55vw;
  width: 8vw;
  color: #838383;
  z-index: 1;
}
.fb {
  position: absolute;
  z-index: 2;
  top: 12vw;
  left: 37.5vw;
  width: 2vw;
}
.twit {
  position: absolute;
  z-index: 2;
  top: 12vw;
  left: 40.5vw;
  width: 2vw;
}
.ig {
  position: absolute;
  z-index: 2;
  top: 12vw;
  left: 43.5vw;
  width: 2vw;
}
.phone {
  position: absolute;
  z-index: 2;
  top: 12vw;
  left: 54vw;
  width: 2vw;
  transform: rotate(340deg);
}
.dis {
  position: absolute;
  z-index: 2;
  top: 14vw;
  left: 54vw;
  width: 1.8vw;
}
.no {
  position: absolute;
  top: 12.5vw;
  left: 56vw;
  width: 5vw;
  color: #B09E31;
  z-index: 1;
  text-decoration: underline;
}
.cord {
  position: absolute;
  top: 14.5vw;
  left: 56.2vw;
  width: 8vw;
  color: #B09E31;
  z-index: 1;
  text-decoration: underline;
}
.thank {
  position: absolute;
  top: 9vw;
  left: 69vw;
  width: 25vw;
  color: #4E4E4E;
  z-index: 1;
  font-weight: 100;
  letter-spacing:1px ;
  opacity: 80%;
}
.boxB {
  top: 24vw;
  left: 0vw;
  width: 98.72vw;
  height: 3vw;
  position: absolute;
  background-color: #0D0D0D ;
}
.Dtext{
  color: #FFFFFF;
  position: absolute; 
  left: 7vw; 
  top: 25vw;
  z-index: 1;
  font-weight: 200;
  opacity: 60%;
  letter-spacing: 2px;
  font-family: 'Lexend', sans-serif; 
}

#sitespeak-launcher-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 50px;
  height: 50px;
  border-radius: 9999px;
  background-color: #B09E31;

}
/* Nothing to see here */

@media screen and (max-width: 768px) {
    .texthl {
        font-size: 24px; /* Adjust the font size for smaller screens */
    }
    .logotext {
        font-size: 16px; /* Adjust the font size for smaller screens */
    }
}


/* popup */
/* Add the styles for the popup overlay */
/* Add the styles for the popup overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Start with a transparent background */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: background-color 0.3s; /* Add a transition for the background-color property */
}

/* Add styles for the popup */
.popup {
  background-color: #000000;
  width: 60vw;
  height: 40vw;
  padding: 2vw;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 2vw;
  font-family: "Poppins", sans-serif;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s;
  animation: popup-scale 0.3s ease-out;

  /* Add moving glowing border effect */
  animation: glow 2s infinite alternate; /* Adjust the values as needed */
}

.tzlogoss {
  position: absolute;
  top: 0.5vw;
  left: 0.5vw;
  width: 5vw;
  height: auto;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.13);
  }
  100% {
    box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.336);
  }
}

@keyframes popup-scale {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(10);
    opacity: 1;
  }
}

.popup button {
  display: block;
  margin: 0 0 2.22vw auto;
  font-size: 2vw;
  color: #c5c5c5;
  border: none;
  outline: none;
  background-color: #000000;
  border-radius: 20vw;
  padding: 0 0.6vw;
  cursor: pointer;
}

/* time */

.container {
  position: absolute;
  top: 4vw;
  right: 7vw;
  font-size: 1vw;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fc3030, transparent);
  background-size: 200% 100%;
  animation: moveLine 4s linear infinite;
}

.date {
  margin-top: 0.2vw;
  font-size: 0.8vw; /* Adjust the date font size */
  color: #ffffff;
}

@keyframes moveLine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.phmap {
  position: absolute;
  width: 20vw;
  top: 8vw;
  right: 4vw;
}

.prom
{
  position: absolute;
  width: 32vw;
  bottom: 1.5vw;
  left: 5vw;
}

.visit
{
  position: absolute;
  width: 32vw;
  top: 5vw;
  left: 5vw;
}