body {
    margin: 0;
    padding: 0;
    height: 50vw;
}
.Bgrd {
    left: 0vw;
    width: 98.78vw;
    height: 40vw;
    position: absolute;
    background-color: #b3b3b3 ;
  }
  .group {
    top: 27.6vw;
    left: 20vw;
    width: 60vw;
    height: 2vw;
    position: absolute;
  }
  .cat {
    top: 4vw;
    left: 40vw;
    width: 15vw;
    height: 2vw;
    position: absolute;
  }

  /* to be edited */
  .mat {
    position: absolute;
    top: 14.6vw;
    left: 43vw;
    width: 9vw;
    color: #FFFFFF;
    font-family: 'Lexend', sans-serif;
    font-weight: lighter;
    z-index: 2;
  }
  .high {
    position: absolute;
    top: 8.6vw;
    left: 9vw;
    width: 20vw;
    color: #0E0E0E;
    font-family: 'Lexend', sans-serif;
    font-weight: bolder;
    z-index: 2;
  }
  .poly {
    position: absolute;
    top: 8.6vw;
    left: 67vw;
    width: 19vw;
    color: #0E0E0E;
    font-family: 'Lexend', sans-serif;
    font-weight: bolder;
    z-index: 2;
  }
  .known {
    position: absolute;
    top: 12.6vw;
    left: 9vw;
    width: 25vw;
    color: #0E0E0E;
    font-family: 'Lexend', sans-serif;
    font-weight: 300%;
    z-index: 2;
  }
  .polytxt {
    position: absolute;
    top: 12.6vw;
    left: 67vw;
    width: 26vw;
    color: #0E0E0E;
    font-family: 'Lexend', sans-serif;
    font-weight: 300%;
    z-index: 2;
  }
  .grade {
    position: absolute;
    top: 18.6vw;
    left: 9vw;
    width: 25vw;
    color: #0E0E0E;
    opacity: 50%;
    font-family: 'Lexend', sans-serif;
    font-weight: 500%;
    z-index: 2;
  }

  .a {
    position: absolute;
    top: 18.6vw;
    left: 67vw;
    width: 26vw;
    color: #0E0E0E;
    opacity: 50%;
    font-family: 'Lexend', sans-serif;
    font-weight: 500%;
    z-index: 2;
  }

  /* PASTED */

  .boxD {
    top: 3.5vw;
    left: 0vw;
    width: 98.72vw;
    height: 0.9vw;
    position: absolute;
    background-color: #D9D9D9 ;
  }
  .tool3 {
    position: absolute;
    z-index: 2;
    top: 42vw;
    left: 48vw;
    width: 2.5vw;
  }
  .tool2 {
    position: absolute;
    z-index: 2;
    top: 42vw;
    left: 38vw;
    width: 3.5vw;
  }
  .tool1 {
    position: absolute;
    z-index: 2;
    top: 42vw;
    left: 28vw;
    width: 2.5vw;
  }
  .tool4 {
    position: absolute;
    z-index: 2;
    top: 42vw;
    left: 58vw;
    width: 3.5vw;
  }
  .tool5 {
    position: absolute;
    z-index: 2;
    top: 42vw;
    left: 68vw;
    width: 2.5vw;
  }
  .logoD {
    position: absolute;
    z-index: 2;
    top: 52vw;
    left: 5vw;
    width: 1.5vw;
  }
  .logotd
  {
      color: #0E0E0E;
      position: absolute; 
      left: 7vw; 
      top: 9vw;
      z-index: 1;
      font-weight: bolder;
      letter-spacing: 2px;
      font-family: 'Lexend', sans-serif; 
  }
  .req {
    position: absolute;
    top: 12vw;
    left: 7vw;
    width: 24vw;
    color: #000000;
    z-index: 1;
  }
  .social {
    position: absolute;
    top: 9vw;
    left: 38vw;
    width: 8vw;
    color: #838383;
    z-index: 1;
  }
  .Contact {
    position: absolute;
    top: 9vw;
    left: 55vw;
    width: 8vw;
    color: #838383;
    z-index: 1;
  }
  .fb {
    position: absolute;
    z-index: 2;
    top: 12vw;
    left: 37.5vw;
    width: 2vw;
  }
  .twit {
    position: absolute;
    z-index: 2;
    top: 12vw;
    left: 40.5vw;
    width: 2vw;
  }
  .ig {
    position: absolute;
    z-index: 2;
    top: 12vw;
    left: 43.5vw;
    width: 2vw;
  }
  .phone {
    position: absolute;
    z-index: 2;
    top: 12vw;
    left: 54vw;
    width: 2vw;
    transform: rotate(340deg);
  }
  .dis {
    position: absolute;
    z-index: 2;
    top: 14vw;
    left: 54vw;
    width: 1.8vw;
  }
  .no {
    position: absolute;
    top: 12.5vw;
    left: 56vw;
    width: 5vw;
    color: #B09E31;
    z-index: 1;
    text-decoration: underline;
  }
  .cord {
    position: absolute;
    top: 14.5vw;
    left: 56.2vw;
    width: 8vw;
    color: #B09E31;
    z-index: 1;
    text-decoration: underline;
  }
  .thank {
    position: absolute;
    top: 9vw;
    left: 69vw;
    width: 25vw;
    color: #4E4E4E;
    z-index: 1;
    font-weight: 100;
    letter-spacing:1px ;
    opacity: 80%;
  }
  .boxB {
    top: 24vw;
    left: 0vw;
    width: 98.72vw;
    height: 3vw;
    position: absolute;
    background-color: #0D0D0D ;
  }
  .Dtext{
    color: #FFFFFF;
    position: absolute; 
    left: 7vw; 
    top: 25vw;
    z-index: 1;
    font-weight: 200;
    opacity: 60%;
    letter-spacing: 2px;
    font-family: 'Lexend', sans-serif; 
  }
  
  .boxG {
    top: 40vw;
    left: 0vw;
    width: 94.2vw;
    height: 5vw;
    padding: 1.3% 2.3%;
    position: absolute;
    background-color: #E8E8E8 ;
  }

 
.tzlogo {
  position: fixed; /* Change to fixed position */
  width: 4.5%;
  top: -2px; /* Adjust the top position */
  left: 93%;
  overflow: hidden;
  height: auto;
  transform: rotate(369deg);
  z-index: 99998;
}

.logo-container {
  position: relative;
}

.logo-image {
  width: 100%;
  transition: transform 0.3s, filter 0.3s;
}

.logotext {
  position: absolute;
  font-size: 0.8vw;
  display: none;
  bottom: 1.5vw; /* Adjust as needed */
  left: 0%;
  transform: rotate(-7deg);
  text-align: center;
  background: #ff9b05;
  color: #ffffff;
  font-family: 'Lexend', sans-serif; 
  padding: 2px;
  border-radius: 5px;
  transition: transform 0.3s, opacity 0.3s;
}

.ravmot
{
    color: #cb7a00;
    position: absolute; 
    left: 80%; 
    top: 2.3%;
    z-index: 1;
    letter-spacing: 2px;
    z-index: 99999;
    font-family: 'Lexend', sans-serif; 
    font-weight: 300; 
    padding: 0.3vw;
    height: auto;
    background-color: #ffffff;
    border-radius: 10%;
}
  /* No change for hover styles */
  
  .logo-container:hover .logo-image {
    transform: scale(1.2);
    transform: rotate(60deg);
    filter: brightness(90%);
  }
  
  .logo-container:hover .logotext {
    display: block;
    opacity: 1;
  }
 
  .mtrls
  {
    position:absolute;
    width: 10%;
    top: 11.5vw;
    left: 42vw;
    transform: rotate(-20deg);
    z-index: 999;
  }